<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Login </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <style>

    #wrapper{

    }

    #content{
      margin: 0px 100px;
      background-color: grey;
    }

    .col.s6, .input-field, .row{
      height: 40px;
      width: 200px;
    }
    .nav.col.s6{
      width: 200px;
    }

    #button{
      height: 40px;
      width: 250px;
      margin-left: 550px;
    }

    #search{
      height: 40px;
      width: 200px;

    }

    #search, #addnew{
      display: inline-block;
      vertical-align: top;
    }

    </style>

  </head>

  <body>
<div id = "wrapper">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="">Dashboard</a></li>
          <li> <a href="">Orders</a></li>
          <li class="active"><a href="">Products</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="">Log off</a></li>
        </ul>
      </div>
    </nav>
  </div>



  <div id = "content">
    <div id = "search">
      <div class = "row">
        <nav class = "col s6">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
        </nav>
      </div>
    </div>

    <div id = "addnew">
      <a id = "button" class="waves-effect waves-light btn">Add new product</a>
    </div>





  </div>

</div>
</body>
</html>
